body, p, .block-title, .text {
	font-family: var(--font-family-1);
	font-weight: 200;
	color:  var(--color-cream);
}

p {
  font-size: 21px;
}

::placeholder {
	color: var(--color-black);
}

.page__container-basics {
	display: block;
	min-width: 100%;
	height: 640px;
	background-color: var(--color-black);
}

.page__container-basics  {
	min-height: 100vh;
}

.bigger-text {
  font-size: 1.5rem;
  font-weight: 500;
}

@media screen and (min-width: 890px) {
	.page__container-basics-not-first {
		min-height: calc(100vh - 45px);
	}
}

@media screen and (max-width: 600px) {
  .page__container-first, .page__container-basics {
  min-height: 550px;
  } /* * fix for mobile issue with keyboard  */
}

section {
		width: 100%;
		height: 100%;
		margin: auto;
		max-width: 2000px;
}

.sortable-ghost {
	opacity: 0.4;
}

.content__container {
	max-width: 82%;
	height: 100%;
	margin: auto;
}

.logo {
	color: var(--color-cream);
	font-weight: 800;
	letter-spacing: 0.05em;
	font-family: var(--font-family-2);
}

.surligne {
  display: inline-block;
  border-radius: 5px;
  background-color: var(--color-orange);
  padding: 0px 3px
}


.underline {
  text-decoration: underline;
}

.underline:hover {
  text-decoration: none;
}

.clickable-div {
  cursor: pointer;
}

.page-title {
	text-align: center;
	font-size: 35px;
	display: block;
	width: 40%;
	padding: 1em;
	background-color: var(--color-gray-light-opacity);
	text-transform: lowercase;
	letter-spacing: 0.05em;
	line-height: 1.1;
	margin: 40px auto 20px auto;
}

#section__release-infos .page-title {
  margin: 0px auto 0 auto;
}

.page-title.logo {
	font-size: calc(0.8*var(--font-size-2));
}

.half-hero {
	height: 50%;
}

.two-columns > div {
	display: flex;
	justify-content: center
}

.height-auto {
  height: auto;
}

.tiers,
.tiers-credits {
  display: flex;
  align-items: flex-end;
  padding: 40px 10px;
}

@media screen and (max-width: 890px) {

  .tiers-credits {
    font-size: 0.8em;
    flex-wrap: wrap;
  }
}

.two-columns > div > div {
	width: 50%;
}

.radius {
	border-radius: 10px;
}

.flex {
	display: flex;
	justify-content: space-around;
}

.box-shadow {
	box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}

.scroll-margin-top {
	scroll-margin-top: 45px;
}

@media screen and (max-width: 890px) {
	.page-title {
		width: 100%;
		max-width: 400px;
	}
	.scroll-margin-top {
	scroll-margin-top: 0px;
	}
}

.text-align-center {
	text-align: center;
}

.bolder {
	font-weight: bolder;
}

a.anchor-offset {
    display: block;
    position: relative;
    top: -45px;
    visibility: hidden;
}

.disclaimer p{
  font-size: 0.9em;
  font-style: italic;
}
