
/*---------------------------- HOME ----------------------------*/

#section__home {
	height: 100%;
	background-image: url("../img/pic1-vinyl-records-stock.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#section__home .logo {
	font-size: calc(2*var(--font-size-2));
	display: none;
	text-align: right;
	padding-top: 100px;
	padding-bottom: 50px;
	margin-right: -0.4vw;
}

.home__card_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}

.home__card {
  background-color: var(--color-gray-dark-opacity);
	display: flex;
  width: 60vw;
  height: auto;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around ;
	align-items: center;
  padding: 1.5em;
  border-radius: 5px;
}

.home__card p {
  margin-bottom: 15px;
}

@media screen and (max-width: 890px) {
	.header {
		display: none;
	}

	#section__home .logo {
		font-size: calc(var(--font-size-2));
		display: block;
		text-align: center;
		padding: 50px 0 20px 0;
	}

  #section__home {
    min-height: 100vh;
  }
}

.align-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 1200px) {
}




/*---------------------------- TIMING----------------------------*/

#timing__hero-1 .content__container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#timing__hero-1 {
	width: 100%;
	height:  50%;
	background-color: var(--color-gray-slightly-cream);
	background-color: var(--color-gray-dark);

}

#timing__hero-2 {
	width: 100%;
	height:  50%;
	background-color: var(--color-gray-slightly-cream);
	color: var(--color-gray-dark);


}

#timing__hero-2 > div {
	height: 100%;
}


.timing__cards {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: auto 0;
}

.timing__card {
	display: block;
	background-color: var(--color-orange-opacity);
	width: 30%;
	height: 100%;
	min-height: 170px;
	padding: 1em;
}

.timing__card_title {
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	font-size: calc(2*var(--font-size-1));
}

.indice-rpm {
	font-size: calc(1.5*var(--font-size-1));
}

.timing__card_separator:after {
	content: "";
	display: block;
	border-bottom: 2px solid var(--color-cream);
	padding-bottom: .5rem;
	margin-bottom: 0.5rem;
}

.timing__card_text {
	margin-left: 10%;
}

.timing__card_text {
	text-transform: uppercase;
	font-weight: 600;
	padding: 3px 0;
	font-size: calc(1.1*var(--font-size-1))
}

.indice-min {
	font-size: calc(0.8*var(--font-size-1));
}

.approx {
	font-size: calc(0.7*var(--font-size-1));
}


.timing__motto {
	display: block;
	font-size: calc(2.2*var(--font-size-1));
	text-transform: uppercase;
	padding: 1em;
}

.timing__infoblock {
	padding: 1em;
}

.centrer {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width:890px) {
	#timing__hero-1 {
		width: 100%;
		height:  50%;
	}

	#timing__hero-2 {
		width: 100%;
		height: 50%;
	}

	#timing__hero-2 .content__container {
		margin: auto;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  flex-wrap: wrap;
	}

	.two-columns > div > div {
		margin: auto;
		width: 90vw;
	}


	.timing__cards {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: auto 0;
	}

	.timing__card {
		display: block;
		background-color: var(--color-orange-opacity);
		width: 70%;
		margin-bottom: 40px;
	}

	.timing__card_texts {
		text-align: center;
	}

	.timing__motto {
		text-align: center;
	}


	.timing__card_text{
		margin-left: 0;
	}

	.page__container-second {
		height: 200vh;
	}
}


/*---------------------------- TRACKLISTING ---------------------------- */

#section__tracklisting {
	background-color: var(--color-gray-strong);
}


#section__tracklisting .content__container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}


/*----************ APP *----************ */

.app__container {
	display: flex;
	justify-content: space-between;
	min-height: 50vh;
}

.side__container {
	margin: 20px;
	min-width: 32vw;
	border: solid 1px #888787b3;
	background-color: var(--color-gray-light-opacity);
}

.time-wrapper {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}



.handle-function {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 10px;
	margin-left: 2vw;
	margin-right: 2vw;
	cursor: grab;
	border-radius: 25px;
	padding: 2px 2px 2px 20px;
	}

@media screen and (min-width:890px) {
	.handle-function {
		height: 30px;
	}
}

.color-side-a {
	background-color: var(--color-orange);
}
.color-side-b {
	background-color: var(--color-blue);
}

.color-side-a,
.color-side-b {
	transition: 150ms ease-in-out;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.color-side-a:hover {
	filter: brightness(1.05);
	box-shadow: none;
}

.color-side-b:hover {
	filter: brightness(1.15);
	box-shadow: none;
}


.controls {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 10px;
}

.row input {
	border: 0;
    appearance: none;
    width: 66%;
    transition: all .2s ease;
    color: var(--color-cream);
    text-transform: inherit;
    box-sizing: border-box;
    border: none;
    height: 16px;
    background: #0000;
    color: #000;
    font-weight: lighter;
    text-align: left;
    font-size: 16px;
}

.row input,
.row input::placeholder {
	color: var(--color-cream);
	font-weight: 200;
	font-family: 'Kanit';
}

.positionA,
.positionB {
	padding-right: 10px;
	min-width: 31px;
}

.title-background {
	background-color: darkred;
	position: relative;
	top: 0;
	width: 100%;
}

.title-input {
  cursor:text
}

.btn-plus, .btn-minus {
	min-width: 50px;
	min-height: 50px;
}

.btn-plus:hover {
	color: #4E8D50;
}

i.icon-btn {
  position: relative;
  top: 1px;
  left: 1px
}

.btn-minus:hover {
	color: #4D4652;
}

.minute-input,
.second-input {
	width: 35px;
}

.second-input {
	margin-right: 5px;
}

@media screen and (max-width: 890px) {
	.app__container {
		display: block;
		min-height: auto;
	}
}


/*---------------------------- RELEASE INFORMATIONS ---------------------------- */

#section__release-infos .content__container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#section__release-infos {
	background-image: linear-gradient(180deg, #03030c 0%, rgba(36, 0, 0, 0.6) 20%, rgba(36, 21, 0, 0.3) 35%, rgba(127,99,0,0.016) 45%), linear-gradient(0deg, rgb(1, 0, 24) 0%, rgba(36, 22, 0, 0.7) 40%, rgba(36, 28, 0, 0.3) 66%, rgba(165, 131, 6, 0.016) 90%), url("../img/pic3-vinyl-records-stock.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#section__release-infos .content__container {
  justify-content: space-evenly;
}


/*---------------------------- AUDIO INFORMATIONS ---------------------------- */

#section__audio-infos .content__container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#section__audio-infos .radio__container__sub {
	flex-wrap: wrap;
}

#section__audio-infos {
	background-image: linear-gradient(180deg,  rgb(1, 0, 24) 0%, rgba(2,0,36,0.7) 34%, rgba(2,0,36,0.2) 45%, rgba(127,99,0,0.01) 55%), linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(2,0,36,0.811843487394958) 23%, rgba(2,0,36,0.6885941876750701) 38%, rgba(127,99,0,0.03593312324929976) 65%), url("../img/pic4-hardware-c-mb-mastering.jpg");
	background-image: ;
  background-repeat: no-repeat;
	background-size: cover;
}


/*---------------------------- GENERATE PDF ---------------------------- */

#section__pdf .content__container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#section__pdf {
	background-image: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(2,0,36,0.811843487394958) 23%, rgba(2,0,36,0.6885941876750701) 38%, rgba(127,99,0,0.03593312324929976) 86%), url("../img/pic2-cutting-c-mb-mastering.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: 40%;
}

.pdf__infoblock {
	background-color: var(--color-gray-dark-opacity);
	width: min(460px, 80vw);
	height: auto;
	margin: 0 auto;
	margin-bottom: 5vh;
	padding: 1.5em;
	text-align: center;
}

@media screen and (max-width: 890px) {
	.pdf__infoblock {
		width: 80vw;
	}
}

.credits {
  width: 70%;
}
