/*---------------------------- RESET CSS ----------------------------*/

* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none!important /* TODO à enlever */;
	color: inherit!important /* TODO à enlever */;
}

a:hover {
	color: inherit;
}

/* Chrome, Safari, Edge, Opera -----Remove arrows for input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox -----Remove arrows for input number */
input[type="number"] {
	-moz-appearance: textfield;
}

/* ---------------------------- BASICS ---------------------------- */

:root {
	/*------- COLORS -------*/
	--color-white: #FFFFFF;
	--color-gray-light: #EBEAEA;
	--color-gray-dark: #474848;
	--color-gray-strong: #757278;
	--color-gray-dark-opacity: rgba(117, 114, 120, 0.9);
	--color--gray-medium-opacity: rgba(235, 234, 234, 0.94);
	--color-gray-light-opacity:rgba(217, 217, 217, 0.54);
	--color-gray-tracklisting: #D9D9D9;
	--color-orange: #D07F33;
	--color-orange-opacity: rgba(208, 127, 51, 0.81);;
	--color-blue: #576883;
	--color-cream: #F3EEE0;
	--color-black: black;

	/*------- FONTS -------*/
	--font-size-1: 16px; /* paragraph */
	--font-size-2: 26px; /* header */
	--font-size-3: 20px; /* title */
	--font-family-1: 'Kanit';
	--font-family-2: 'Syne';

	--number-pages: 2;
}

body, p, .block-title, .text {
	font-family: var(--font-family-1);
	font-weight: normal;
	color:  var(--color-white);
}

button {
	display: block;
	margin: auto;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	line-height: 1;
	border-radius: 500px;
	transition-property: background-color,border-color,color,box-shadow,filter;
	transition-duration: .2s;
	border: 1px solid transparent;
	letter-spacing: 2px;
	min-width: 160px;
	text-transform: uppercase;
	white-space: normal;
	font-weight: 700;
	text-align: center;
	padding: 16px 14px 18px;
	color: var(--color-white);
	box-shadow: inset 0 0 0 2px var(--color-white);
	background-color: transparent;
	height: 48px;            
}

button:hover {
	    color: #616467;
	    background-color: var(--color-white) ;
	}

::placeholder {
	color: var(--color-black);
}

.page__container-basics {
	display: block;
	min-width: 100%;
	height: 640px;
	background-color: var(--color-black);
	border-bottom: 1px solid var(--color-black);
}

/*.page__container {
min-height: calc(100vh - 45px);
}*/

.page__container-first, .page__container-basics  {
	min-height: 100vh;
}

section {
		width: 100%;
		height: 100%;
		margin: auto;
		max-width: 2000px;
		background-color: darkred;
}

.content__container {
	max-width: 82%;
	height: 100%;
	margin: auto;
}

.logo {
	color: var(--color-white);
	font-weight: 800;
	letter-spacing: 0.05em;
	font-family: var(--font-family-2);
}

.block-title {
	display: block;
	text-transform: uppercase;
	font-size: var(--font-size-3);
	line-height: 1em;
}



.page-title {
	text-align: center;
	font-size: 35px;
	display: block;
	width: 40%;
	margin: auto;
	padding: 1em;
	background-color: var(--color-gray-light-opacity);
	text-transform: uppercase;
	letter-spacing: 0.05em;
	
}

.page-title.logo {
	font-size: calc(0.8*var(--font-size-2));
}

.half-hero {
	height: 50%;
}

.two-columns > div {
	display: flex;
	justify-content: center
}

.two-columns > div > div {
	width: 50%;
}

.radius {
	border-radius: 10px;
}

input {

	border: 0;
	appearance: none;
	width: 100%;
	position: relative;
	line-height: 1.4;
	transition: all .2s ease;	       
    color: var(--color-cream);
    letter-spacing: .009375em;
    text-decoration: inherit;
    text-transform: inherit;
    align-self: flex-start;
    box-sizing: border-box;
    border: none;
    height: 30px;
    background: transparent;
}

input:hover{
    
    }

input:focus {
	outline: none;
	outline: 0;
}

input::placeholder {
	text-align: center;
	color: var(--color-cream);
}

input:focus::placeholder {
	color: transparent;
}

input {
	text-align: center;
}


@media screen and (max-width: 890px) {
	.page-title {
		width: 100%;
		max-width: 400px;
	}
}

.flex {
	display: flex;
	justify-content: space-around;
}


/*---------------------------- HEADER ----------------------------*/


.header {
	height: 45px;
	background-color: var(--color-black);
	width: 100%;
	position: fixed;
}


.header__container {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

nav {
	width: 38vw;
	margin-top: 15px;
}

nav > ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav > ul > li {
	font-family: var(--font-family-1);
	font-size: calc(0.7*var(--font-size-2)) ;
	text-transform: uppercase;
	color: var(--color-white);
	display: inline-block;
	list-style: none;	
}

.header .logo {
	font-size: var(--font-size-2);
}

@media screen and (max-width: 890px) {
	.header {
		display: none;
	}
}

/*---------------------------- HOME ----------------------------*/

#section__home {
	height: 100%;
}

#section__home .logo {
	font-size: calc(2*var(--font-size-2));
	display: block;
	text-align: right;
	padding-top: 100px;
	padding-bottom: 50px;
	margin-right: -0.4vw;
}

#section__home .content__container {
	display: flex;
	flex-direction: column;
	align-items: end;
}

.home__infoblock {
	background-color: var(--color-gray-dark-opacity);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around ;
	align-items: center;
	width: 350px;
	height: 60vh;
	padding: 1.5em;
}


.home__infoblock__text .block-title {
	margin-bottom: 1.5em;
}

@media screen and (max-width: 890px) {
	.header {
		display: none;
	}

	.home__infoblock {
		width: 100%;
		max-width: 500px;
		height: auto;
		position: relative;
		top: 12vh;
	}

	#section__home .content__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#section__home .logo {
		font-size: calc(var(--font-size-2));
		display: block;
		text-align: center;
	}
} 

@media screen and (min-width: 1200px) {
	.home__infoblock {
	width: 33%;
	}
}




/*---------------------------- TIMING----------------------------*/

#timing__hero-1 .content__container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#timing__hero-1 {
	width: 100%;
	height:  50%;
}

#timing__hero-2 {
	background-color: var(--color-gray-dark);
	width: 100%;
	height:  50%;
}

#timing__hero-2 > div {
	height: 100%;
}


.timing__cards {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: auto 0;
}

.timing__card {
	display: block;
	background-color: var(--color-orange-opacity);
	width: 30%;
	height: 100%;
	min-height: 170px;
	padding: 1em;
}

.timing__card_title {
	text-transform: uppercase;
	font-weight: 900;
	text-align: center;
	font-size: calc(2*var(--font-size-1));
}

.indice-rpm {
	font-size: calc(1.5*var(--font-size-1));
}

.timing__card_separator:after {
	content: "";
	display: block;
	border-bottom: 2px solid var(--color-white);
	padding-bottom: .5rem;
	margin-bottom: 0.5rem;
}

.timing__card_text {
	margin-left: 10%;
}

.timing__card_text {
	text-transform: uppercase;
	font-weight: 600;
	padding: 3px 0;
	font-size: calc(1.1*var(--font-size-1))
}

.indice-min {
	font-size: calc(0.8*var(--font-size-1));
}

.approx {
	font-size: calc(0.7*var(--font-size-1));
}


.timing__motto {
	display: block;
	font-size: calc(2.2*var(--font-size-1));
	text-transform: uppercase;
	padding: 1em;
}

.timing__infoblock {
	padding: 1em;
}

.centrer {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width:890px) {
	#timing__hero-1 {
		width: 100%;
		height:  50%;
	}

	#timing__hero-2 {
		width: 100%;
		height: 50%;
	}

	#timing__hero-2 .content__container {
		margin: auto;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    flex-wrap: wrap;
	}

	.two-columns > div > div {
		margin: auto;
		width: 90vw;
	}
	

	.timing__cards {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: auto 0;
	}

	.timing__card {
		display: block;
		background-color: var(--color-orange-opacity);
		width: 70%;
		margin-bottom: 40px;
	}

	.timing__card_texts {
		text-align: center;
	}
	
	.timing__motto {
		text-align: center;
	}


	.timing__card_text{
		margin-left: 0;
	}

	.page__container-second {
		height: 200vh;
	}
}


/*---------------------------- TRACKLISTING ---------------------------- */

#section__tracklisting {
	background-color: var(--color-gray-strong);
}

#section__tracklisting .page-title {
	margin: 0 auto;

}

#section__tracklisting .content__container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}


/*----************ APP *----************ */

.app__container {
	display: flex;
	justify-content: space-between;
	min-height: 50vh;
}

.side__container {
	margin: 20px;
	min-width: 30vw;
	border: solid 1px #EEEEEE;
	background-color: var(--color-gray-light-opacity);
	box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
}



.handle-function {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 10px;
	margin-left: 2vw;
	margin-right: 2vw;
	cursor: move;
	border-radius: 25px;
	padding: 2px 2px 2px 20px
	}

.color-side-a {
	background-color: var(--color-orange);
}
.color-side-b {
	background-color: var(--color-blue);
}

.color-side-a,
.color-side-b {
	transition: 150ms ease-in-out;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.color-side-a:hover,
.color-side-b:hover {
	filter: brightness(1.1);
}


.controls {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 10px;
}

.positionA, 
.positionB {
	padding-right: 10px;
}

.title-background {
	background-color: darkred;
	position: relative;
	top: 0;
	width: 100%;
}

.btn-plus, .btn-minus {
	min-width: 50px;
	min-height: 50px;
}

.minute-input,
.second-input {
	width: 35px;
}

.second-input {
	margin-right: 5px;
}

@media screen and (max-width: 890px) {
	.app__container {
		display: block;
	}
}



/*---------------------------- RELEASE INFORMATIONS ---------------------------- */

#section__release-infos .content__container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}



/*---------------------------- AUDIO INFORMATIONS ---------------------------- */

#section__audio-infos .content__container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}


/*---------------------------- GENERATE PDF ---------------------------- */

#section__pdf .content__container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#generatePDF {
	font-size: var(--font-size-1);
	display: block;
	margin: 2vh auto;
}


/*---------------------------- OLD CSS ----------------------------*/





.highlight {
	background-color: bisque;
}

.time-wrapper {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}


