:root {
	/*------- COLORS -------*/
	--color-white: #FFFFFF;
	--color-gray-light: #EBEAEA;
	--color-gray-dark: #474848;
	--color-gray-strong: #757278;
	--color-gray-dark-opacity: rgba(117, 114, 120, 0.9);
	--color--gray-medium-opacity: rgba(235, 234, 234, 0.94);
	--color-gray-light-opacity:rgba(217, 217, 217, 0.54);
	--color-gray-tracklisting: #D9D9D9;
	--color-gray-slightly-cream: #D3D3D3;
	--color-orange: hsl(29, 63%, 51%);
	--color-orange-opacity: rgba(208, 127, 51, 0.81);;
	--color-blue: #576883;
	--color-cream: #F3EEE0;
	--color-black: black;
  --color-sides-color: #2c2c1e8a;

  --color-primary: #24a0ed;
  --color-success: #04aa6d;

	/*------- FONTS -------*/
	--font-size-1: 1rem; /* paragraph */
	--font-size-2: 1.625rem; /* header */
	--font-size-3: 1.25rem; /* title */
	--font-family-1: 'Kanit';
	--font-family-2: 'Syne';

	--number-pages: 2;
}

@media (min-width: 1280px) {
  html {
    font-size: calc(1rem + ((1vw - 12.8px) * 1.1803));
    min-height: 0vw;
  }
}
@media (min-width: 2500px) {
  html {
    font-size: 30.4px;
  }
}
