
#form_page_one,
#form_page_two {
	width: min(460px, 80vw);
	margin: 0 auto;

	background: rgba(235, 234, 234, 0.94);
	border-radius: 10px;
}

.form__label {
	font-family: 'Kanit';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.03em;
	color: black;
	text-transform: uppercase;
}

.form__container {
	margin: 5%;
}

.form__container {
	font-style: normal;
	font-weight: 250;
	font-size: 18px;
	line-height: 30px;
}

.form__container input {
	border: 0;
	appearance: none;
	width: 100%;
	transition: all .2s ease;
    color: var(--color-cream);
    text-transform: inherit;
    box-sizing: border-box;
    border: none;
    background: transparent;
    color: black;
    font-weight: lighter;
    text-align: left;
    font-size: 16px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.radio__container input{
	appearance: auto;
	width: auto;
}

.radio__container {
	display: flex;
}

.radio__container__sub {
	display: flex;
	flex-grow: 0.5;
	justify-content: space-between;
}

.input-border {
	border-bottom: 1px solid;
}

.form-min-width {
	min-width: 140px;
}

input:focus {
	outline: none;
	outline: 0;
}

input::placeholder {
	text-align: left;
	color: black;
	opacity: 0.8;
}

input:focus::placeholder {
	color: transparent;
}

/* -------- */

#form-speed {
	justify-content: flex-end;
}


textarea {
	margin: auto;
    border: none;
    width: 100%;
    background-color: initial;
    font-family: inherit;
	line-height: 3ch;
	background-image: linear-gradient(transparent, transparent calc(3ch - 1px), black 0px);
	background-size: 100% 3ch;
}

textarea:focus {
	border: none;
	outline: none;
}
