
#form_page_one,
#form_page_two {
	width: min(460px, 80vw);
	margin: 0 auto;

	background: rgba(235, 234, 234, 0.94);
	-webkit-border-radius: 10px;
	        border-radius: 10px;
}

.form__label {
	font-family: 'Kanit';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.03em;
	color: black;
	text-transform: uppercase;
}

.form__container {
	margin: 5%;
}

.form__container {
	font-style: normal;
	font-weight: 250;
	font-size: 18px;
	line-height: 30px;
}

.form__container input {
	border: 0;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 100%;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	-moz-transition: all .2s ease;
	transition: all .2s ease;
    color: var(--color-cream);
    text-transform: inherit;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border: none;
    background: transparent;
    color: black;
    font-weight: lighter;
    text-align: left;
    font-size: 16px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.radio__container input{
	-webkit-appearance: auto;
	   -moz-appearance: auto;
	        appearance: auto;
	width: auto;
}

.radio__container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

.radio__container__sub {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0.5;
	-webkit-flex-grow: 0.5;
	   -moz-box-flex: 0.5;
	    -ms-flex-positive: 0.5;
	        flex-grow: 0.5;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.input-border {
	border-bottom: 1px solid;
}

.form-min-width {
	min-width: 140px;
}

input:focus {
	outline: none;
	outline: 0;
}

input::-webkit-input-placeholder {
	text-align: left;
	color: black;
	opacity: 0.8;
}

input:-moz-placeholder {
	text-align: left;
	color: black;
	opacity: 0.8;
}

input::-moz-placeholder {
	text-align: left;
	color: black;
	opacity: 0.8;
}

input:-ms-input-placeholder {
	text-align: left;
	color: black;
	opacity: 0.8;
}

input::-ms-input-placeholder {
	text-align: left;
	color: black;
	opacity: 0.8;
}

input::placeholder {
	text-align: left;
	color: black;
	opacity: 0.8;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}

input:focus:-moz-placeholder {
	color: transparent;
}

input:focus::-moz-placeholder {
	color: transparent;
}

input:focus:-ms-input-placeholder {
	color: transparent;
}

input:focus::-ms-input-placeholder {
	color: transparent;
}

input:focus::placeholder {
	color: transparent;
}

/* -------- */

#form-speed {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	   -moz-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}


textarea {
	margin: auto;
    border: none;
    width: 100%;
    background-color: initial;
    font-family: inherit;
	line-height: 3ch;
	background-image: -webkit-linear-gradient(transparent, transparent -webkit-calc(3ch - 1px), black 0px);
	background-image: -moz-linear-gradient(transparent, transparent -moz-calc(3ch - 1px), black 0px);
	background-image: -o-linear-gradient(transparent, transparent calc(3ch - 1px), black 0px);
	background-image: linear-gradient(transparent, transparent calc(3ch - 1px), black 0px);
	-webkit-background-size: 100% 3ch;
	     -o-background-size: 100% 3ch;
	        background-size: 100% 3ch;
}

textarea:focus {
	border: none;
	outline: none;
}

@media screen and (max-width:890px) {
  .form__container input[type="radio"] {
    margin-bottom: 0;
  }

  .radio__container__sub .form__label {
    font-size: 0.9em;
  }
}
